NPCTEMPLATE
{
templatename=familyman
makeatnobody=1
makeatnosee=1
type=SPR_sslma_1
functionset=Familyman
}

{
templatename=bankman
makeatnobody=1
makeatnosee=1
type=SPR_sslma_1
functionset=Bankman
}

{
templatename=riderman
makeatnobody=1
makeatnosee=1
type=SPR_sslma_1
functionset=Riderman
}

{
templatename=fmletter
makeatnobody=1
makeatnosee=1
type=SPR_sslma_1
functionset=FmLetter
}
