NPCTEMPLATE
#######マジョーラ##########
{
templatename=sb_jan1
makeatnobody=1
makeatnosee=1
type=100234
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######ガルード##########
{
templatename=sb_jan2
makeatnobody=1
makeatnosee=1
type=100437
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######ボーン##########
{
templatename=sb_jan3
makeatnobody=1
makeatnosee=1
type=100065
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
