NPCTEMPLATE
#######大地の守護獣（トロプス）##########
{
templatename=sb_dtp
makeatnobody=1
makeatnosee=1
type=100338
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######大地の守護獣（ブロントス）##########
{
templatename=sb_dbt
makeatnobody=1
makeatnosee=1
type=100351
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

