NPCTEMPLATE
#######ダイス##########
{
templatename=sb_dice
makeatnobody=1
makeatnosee=1
type=100432
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######ポーカー##########
{
templatename=sb_por
makeatnobody=1
makeatnosee=1
type=100436
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######ダーツ##########
{
templatename=sb_dar
makeatnobody=1
makeatnosee=1
type=100439
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
