NPCTEMPLATE
#######¥´¥¦##########
{
templatename=sb_go
makeatnobody=1
makeatnosee=1
type=100439
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######¥À¥ó##########
{
templatename=sb_dan
makeatnobody=1
makeatnosee=1
type=100432
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

