NPCTEMPLATE
#######É÷¤Î¼é¸î³C¡Ê¥Ö¥ë¥É¥ó¡Ë##########
{
templatename=sb_kbu
makeatnobody=1
makeatnosee=1
type=100394
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######É÷¤Î¼é¸î³C¡Ê¥®¥¬¥í¥¹¡Ë##########
{
templatename=sb_kgi
makeatnobody=1
makeatnosee=1
type=100343
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}

