NPCTEMPLATE
########怪力のマーくん#########
{
templatename=sb_n1
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
########鉄壁のマモくん#########
{
templatename=sb_n2
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#########疾風のコズぴよ########
{
templatename=sb_n3
makeatnobody=1
makeatnosee=1
type=100
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
