NPCTEMPLATE
#######ザハン兄弟##########
##ウルフ
{
templatename=sb_uiy1
makeatnobody=1
makeatnosee=1
type=100431
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##ギル
{
templatename=sb_uiy2
makeatnobody=1
makeatnosee=1
type=100439
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
##ルド
{
templatename=sb_uiy3
makeatnobody=1
makeatnosee=1
type=100436
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
