NPCTEMPLATE
#######¥®¥¬¥í¥¹##########
{
templatename=sb_muge1
makeatnobody=1
makeatnosee=1
type=100343
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}
#######¥¬¥¬¥®¥ó¥Ü##########
{
templatename=sb_muge2
makeatnobody=1
makeatnosee=1
type=100346
functionset=NPCEnemy
hp=100
mp=100
str=1
tough=1
}


